@import "src/styles/variables";

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 40%;
}

.links-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(88, 167, 198, 0.85);
  height: 200px;
  width: 200px;
  border-radius: 50%;

  z-index: 5;
}

.auth-link {
  opacity: 1;
  font-size: $font-size-title;
  color: $color-basic-dark;
  padding-bottom: 20px;
}

.auth-link:hover {
  color: $color-secondary-light;
}
