@import "src/styles/variables";

.profile-container{
  display: flex;
  padding-top: 10vh;
}

.profile-container__aside{
  flex-basis: 20%;
  background-color: #efefef;
}

.profile-container__main{
  flex-basis: 100%;
}

.aside-list{
  display: flex;
  flex-direction: column;
}


.profile-title {
  font-size: $font-size-title;
}

.basket-container__cost {
  font-size: $font-size-title;
  text-align: left;
  margin: 0 20px;
}

.basket-container__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0 50px 0;
  min-height: 260px;
}

.basket-container__empty-message {
  width: 200px;
  text-align: left;
  font-size: $font-size-medium;
}

.img-shopping-cart {
  height: 200px;
  width: auto;
}

//@keyframes basket-move {
//  0% {
//    transform: rotate(0);
//
//  }
//  30% {
//    transform: rotate(-12deg);
//    left: 60vw;
//  }
//  100% {
//    transform: rotate(0);
//    left: 90vw;
//  }
//}

