@import "src/styles/variables";

.seller-profile-container{
  padding-top: 10vh;
}

.createGood-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.createGood-form__input{
  margin-bottom: 10px;
}

.success{
  color: rgba(0, 0, 254, 0.66);
}

