@import "src/styles/variables";
@import "src/styles/shared";

.profile-container {
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
}

.profile-container__header {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
}

.createGood-form {
  display: flex;
  flex-direction: column;
  @extend %center;
  width: 250px;
}

.input.createGood-form__input {
  margin-bottom: 10px;
  width: 100%;
}

.createGood-form__textarea {
  height: 80px;
  resize: none;
}

.success{
  color: rgba(0, 0, 254, 0.66);
}

