@import "src/styles/variables";
@import "src/styles/shared";

.profileContainer {
  display: flex;
  flex-direction: column;
  padding: 10vh 5% 0 5%;

  position: relative;
}

.profileContainer__header {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
}

.profileContainer__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.success {
  color: rgba(0, 0, 254, 0.66);
}

.profileContainer__title {
  font-size: $font-size-title;
  font-weight: 500;
  padding-left: 80px;
  margin: 0 auto;
}

.profileContainer__form {
  display: flex;
  flex-direction: column;
  width: 350px;
  background-color: $color-secondary-light;
  box-shadow: $box-shadow-good;
  height: auto;
  padding: 40px;
  border-radius: 20px;
  margin: 40px auto;
}

.profileContainer__formTitle {
  font-size: $font-size-medium;
}

.profileContainer__input {
  margin-top: 20px;
}

.profileContainer__textarea {
  resize: none;
  margin-bottom: 20px;
  font-size: $font-size-small;
}

.shopName {
  font-size: $font-size-title;
  text-align: left;
  padding: 20px 0 0 20px;
}

.profileContainer__message {
  display: flex;
  flex-direction: column;
  @extend %center;
  padding-top: 60px;
}

.profileContainer__messageText {
  font-size: $font-size-sub-title;
}
