@import "src/styles/variables";
@import "src/styles/shared";

.profileContainer {
  display: flex;
  flex-direction: column;
  padding: 10vh 5% 0 5%;
}

.profileContainer__header {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
}

.createGoodForm {
  display: flex;
  flex-direction: column;
  @extend %center;
  width: 250px;
}

.createGoodForm__input {
  margin-bottom: 10px;
  width: 100%;
}

.createGoodForm__textarea {
  height: 80px;
  resize: none;
}

.success {
  color: rgba(0, 0, 254, 0.66);
}

