$color-basic-dark: #0D3849;
$color-basic-medium: #2F6F89;
$color-secondary-medium: #58A7C6;
$color-secondary-light: #a4cfe0;
$color-basic-light: #ebebeb;

//$color-basic-dark: #2B277F;
//$color-basic-medium: #584289;
//$color-secondary-medium: #6D80BF;
//$color-secondary-light: #CE8EB4;
//$color-basic-light: #D2E1FA;

//$color-grey: rgba(168, 168, 168, 0.64);

//$color-active: #1b36ce;

$color-button-liked: #a81435;


$font-size-title: 25px;
$font-size-sub-title: 20px;
$font-size-medium: 18px;
$font-size-small: 15px;

$box-shadow-good: 0 1px 6px 0 rgba(32, 33, 36, .28);
$box-shadow-good-active: 0 1px 6px 0 rgba(32, 33, 36, 0.32);
$box-shadow-good-hover: 0 1px 6px 0 rgba(32, 33, 36, 0.44);
