$color-basic-dark: #0D3849;
$color-basic-medium: #2F6F89;
$color-secondary-medium: #58A7C6;
$color-secondary-light: #A4CFE0;
$color-basic-light: #ebebeb;

//$color-grey: rgba(168, 168, 168, 0.64);

//$color-active: #1b36ce;

$color-button-liked: #a81125;


$font-size-title: 25px;
$font-size-sub-title: 20px;
$font-size-medium: 18px;
$font-size-small: 15px;

$box-shadow-good: rgba(106, 106, 106, 0.39) 2px 2px 8px 1px;
$box-shadow-good-active: $color-secondary-light 0px 0px 15px 2px;
$box-shadow-good-hover: rgba(106, 106, 106, 0.55)  2px 2px 8px 1px;
