$color-basic-dark: #0D3849;
$color-basic-medium: #2f6f89;
$color-secondary-medium: #58A7C6;
$color-secondary-light: #a4cfe0;
$color-basic-light: #ebebeb;

$color-button-liked: #a81435;

$font-size-title: 26px;
$font-size-sub-title: 22px;
$font-size-medium: 18px;
$font-size-small: 16px;

$box-shadow-good: 0 1px 6px 0 rgba(32, 33, 36, .28);
$box-shadow-good-active: 0 1px 6px 0 rgba(32, 33, 36, 0.32);
$box-shadow-good-hover: 0 1px 6px 0 rgba(32, 33, 36, 0.44);
