@import "../../styles/variables";
@import "../../styles/shared";

.buyerRegistration {
  display: flex;
  @extend %center;
  height: 100vh;
}

.input.buyerRegistration-input {
  width: 80%;
  &:focus {
    border: 1px solid $color-basic-dark;
  }
}

.buyerRegistration-form {
  height: 360px;
}

.linkToLog {
  margin-top: -10px;
  margin-bottom: 10px;
}

.formTitle {
  font-size: $font-size-sub-title;
}
