@import 'src/styles/variables';

.navigation__list{
  display: flex;
  background-color: $color-basic-light;
  height: 9vh;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navigation__links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__link {
  color: $color-basic-dark;
  font-size: $font-size-medium;
  font-weight: 500;
  padding: 0 15px;
}

.navigation__link:hover {
  color: $color-secondary-light;
  transition: color 250ms;
}

.navigation__image {
  height: 8vh;
  width: auto;
}

#logOutButton {
  display: none;
}
