@import "src/styles/variables";

.buyerLogin {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-log {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin-top: 40px;
  border-radius: 20px;
  background-color: $color-secondary-light;
  width: 350px;
  height: 300px;
}

.input.buyerLogin-input {
  width: 80%;
  padding: 10px 5px;
  &:focus {
    border: 1px solid $color-basic-dark;
  }
}

.input {
  outline: none;
  border: 1px solid $color-basic-medium;
  border-radius: 7px;
  padding: 7px 5px;
  margin: 0 3px;
  &:focus {
    color: $color-basic-medium;
    border-color: $color-basic-dark;
  }
}

.button-basic {
  margin-right: 10px;
  background-color: $color-basic-medium;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
}