@import "src/styles/variables";

.sellerPage {
  padding: calc(8vh + 20px) 20px;
}

.sellerPage__info {
  display: flex;
}

.sellerPage__backImage {
  background-image: url("../../static/images/background-for-shop.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 200px;
}

.sellerPage__logo {
  margin: -45px 30px 0 30px;
  background-color: $color-basic-light;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sellerPage__logoImg {
  height: 80%;
  width: 80%;
}

.sellerPage__text {
  text-align: left;
  max-width: 70%;
}

.sellerPage__textField {
  padding: 8px 0;
}

.sellerPage__textField_name {
  font-size: 25px;
}

.sellerPage__description{
  margin: 8px 0;
  padding: 4px 8px;
  border-left: 1px solid $color-basic-light;
}
