@import "src/styles/variables";
@import "src/styles/shared";

.goods-page {
  padding: 80px 0;
}

#button-search, #button-cancel-search {
  display: none;
}

.goods-page__search {
  display: flex;
  padding: 0 20px;
  justify-content: center;
}

.goods-page__search select{

}

.search-div {
  display: flex;
}

////
.search-div  i {
  margin-top: 3px;
  margin-left: calc(30vw - 35px);
  position: absolute;
}

.input-search {
  width: 30vw;
  padding: 10px;
  text-align: left;
}

