@import "../../styles/shared";
@import "../../styles/variables";

.message-error-none {
  visibility: hidden;
}

.message-error {
  display: flex;
  @extend %center;
  height: 35px;
  width: 100%;
  border-top: 2px solid $color-button-liked;
  padding: 7px;
  border-bottom: 2px solid $color-button-liked;
}

.message-error__icon {
  padding-right: 10px;
}

.warning-icon {
  height: 30px;
  width: 30px;
}

.message-error__message {
  font-size: $font-size-small;
}

