@import "../../styles/variables";

.good {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: $box-shadow-good;
  padding: 8px;
  position: relative;
}

.good:hover{
  box-shadow: $box-shadow-good-hover;
  //transform: scale(1.1, 1.1);
  //transition: transform 300ms;
}

.good:active {
  animation-name: shadow;
  animation-duration: .4s;
}

@keyframes shadow {
  from {
    box-shadow: $box-shadow-good;
  }
  to {
    box-shadow: $box-shadow-good-active;
  }
}

.good__about{
  margin: 0 10px;
}

.good__image{

}

.good__link-image{
  display: inline-block;
}

.good__image img{
  object-fit: cover;
  height: 200px;
  width: 100%;
  margin-bottom: 8px;
}

.good__info{
  display: flex;
  justify-content: space-between;
  margin: 8px 0;

}

.good__title{
  font-size: $font-size-sub-title;
  font-weight: 500;
}

.good__link{
  color: $color-basic-dark;
}

.good__link:hover{
  color: $color-secondary-medium;
}

.good__link:active{
  color: $color-secondary-medium;
}

.good__likes{
  text-align: left;
}

.good__buttons{
  display: flex;
  margin-top: -5px;
  padding-bottom: 3px;
  min-height: 5px;
}

.removeButton, #button-done-order, .addOrderButton, .updateOrderState, .updateGoodButton {
  display: none;
}

.updateGood-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.input.updateGood-form__input {
  margin-bottom: 10px;
  width: 80%;
}

.updateGood-form__textarea {
  height: 120px;
  resize: none;
}
