@import "styles/variables";
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Noto+Sans+KR:400,500,700&display=swap');

//font-family: 'Bree Serif', serif;
*, *:before, *:after {
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  color: $color-basic-dark;
}

//.container {
//  position: relative;
//}

.page {
  //position: absolute;
  //left: 15px;
  //right: 15px;
}

.page-enter {
  opacity: 0;
  transform: scale(1); //
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 200ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(1); //
  transition: opacity 300ms, transform 300ms;
}


