@import "src/styles/variables";

.buyerRegistration {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input.buyerRegistration-input {
  width: 80%;
  padding: 10px 5px;
  &:focus {
    border: 1px solid $color-basic-dark;
  }
}