.buyerRegistration {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.buyerRegistration-form {
  display: flex;
  flex-direction: column;
}

.buyerRegistration-input {
  padding: 10px;
  margin: 10px;
}