@import "src/styles/variables";
@import "src/styles/shared";

.buyerRegistration {
  display: flex;
  @extend %center;
  height: 100vh;
}

.input.buyerRegistration-input {
  width: 80%;
  padding: 10px 5px;
  &:focus {
    border: 1px solid $color-basic-dark;
  }
}