@import "../../styles/variables";

.goodsContainer {
  height: auto;
}

.goodsContainer__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
  grid-gap: 2%;
  padding: 0 20px 40px 20px;
}

.goodsContainer__title {
  font-size: $font-size-title;
  font-weight: 500;
  padding: 45px 0 45px 0;
}
