@import "src/styles/shared";
@import "src/styles/variables";

.admin-page {
  font-size: 14px;
  padding: 9vh;
}

.grid-container {
  display: grid;
  border: 1px solid black;
  margin: 60px 40px;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  border-bottom: 1px solid gray;
}

.grid-container-order {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 400px;
  margin: 12px 12px;
}

.order-list {
  border-right: 1px solid $color-basic-dark;
  border-left: 1px solid $color-basic-dark;
  margin: 5px 0;
}
