@import "src/styles/shared";
@import "src/styles/variables";

.adminPage {
  font-size: 14px;
  padding: 9vh 3% 0 3%;
}

.gridContainer {
  display: grid;
  border: 1px solid black;
  margin: 40px 40px;
}

.gridRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  border-bottom: 1px solid gray;
}

.orderList {
  border-right: 1px solid $color-basic-dark;
  border-left: 1px solid $color-basic-dark;
  margin: 5px 0;
}
