@import "../../styles/variables";
@import "../../styles/shared";

.header {
  height: 100vh;
  position: relative;
  display: flex;
  background-color: slategray;
}

.header::after{
  content: "";
  background-attachment: fixed;
  background-image: url("../../static/images/header-home.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;

  animation: backgroundImage 40s infinite;
}

@keyframes backgroundImage {
  0%{
    background-image: url("../../static/images/header-home.jpg");
  }
  25%{
    background-image: url("../../static/images/header-home-2.jpg");
  }
  50%{
    background-image: url("../../static/images/header-home-3.jpg");
  }
  750%{
    background-image: url("../../static/images/header-home-1.jpg");
  }
}

.main-photo:hover {
  transition-property: opacity;
  transition-duration: .8s;
  opacity: 0.4;
}

.goodsContainer{
  height: 500px;
  margin: 0 20px;
}

.header__info{
  display: flex;
  flex-basis: 40%;
  justify-content: center;
  align-items: center;
}

.header__text{
  font-size: $font-size-sub-title;
}

@keyframes scale {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.home-page__goods {
  margin-bottom: 20px;
}

.wrapper {
  height: 100vh;
  //padding: 20px;
  background-color: $color-secondary-light;
  @extend %center;
  flex-direction: column;
}

.poster {
  @extend %center;
  //padding: 0 15px;
  //padding: 0.6em 0.7em;
}

.info .info__img  {
  width: 90%;
  height: auto;

  box-shadow: $box-shadow-good;
}

.wrapper__title {
  padding-bottom: 60px;
  font-size: $font-size-title;
  font-weight: 500;
}

.stage{
  display: flex;
}

.info__name{
  font-size: $font-size-sub-title;
  font-weight: 700;
  padding-bottom: 10px;
}

.info {
  @extend %center;
}

/*************************************
Build the scene and rotate on hover
**************************************/

.scene {
  width: 260px;
  //height: 400px;
  margin: 0 45px;
  //float: left;
  perspective: 1000px;
}

.movie {
  width: 260px;
  height: 294px;
  transform-style: preserve-3d;
  transform: translateZ(-130px);
  transition: transform 350ms;
}

.movie:hover {
  transform: rotateY(-78deg) translateZ(20px);
}
/*************************************
Transform and style the two planes
**************************************/

.movie .poster,
.movie .info {
  position: absolute;
  width: 260px;
  height: 294px;
  background-color: #fff;
  backface-visibility: hidden;
}

.movie .poster  {
  transform: translateZ(130px);
  background-size: cover;
  background-repeat: no-repeat;

}

.movie .info {
  transform: rotateY(90deg) translateZ(130px);
  font-size: 0.75em;
}

/*************************************
Shadow beneath the 3D object
**************************************/

.movie::after {
  content: '';
  width: 260px;
  height: 260px;
  position: absolute;
  bottom: 0;
  box-shadow: 0 30px 50px rgba(0,0,0,0.3);
  transform-origin: 100% 100%;
  transform: rotateX(90deg) translateX(-130px) translateY(130px);
  transition: box-shadow 350ms;
}

.movie:hover::after {
  box-shadow: 20px -5px 50px rgba(0,0,0,0.3);
}

/*************************************
Movie information
**************************************/

.info header {
  color: #FFF;
  padding: 7px 10px;
  font-weight: bold;
  height: 195px;
  background-size: contain;
  background-repeat: no-repeat;
  text-shadow: 0 1px 1px rgba(0,0,0,1);
}

.info header h1 {
  margin: 0 0 2px;
  font-size: 1.4em;
}

.info header .rating {
  border: 1px solid #FFF;
  padding: 0 3px;
}

.info .info__inner {
  padding: 1.2em 1.4em;
  font-weight: 500;
  color: #666;
  line-height: 1.4em;
}

/*************************************
Generate "lighting" using box shadows
**************************************/

.movie .poster,
.movie .info,
.movie .info header {
  transition: box-shadow 350ms;
}

.movie .poster {
  box-shadow: inset 0 0 40px rgba(255,255,255,0);
}

.movie:hover .poster {
  box-shadow: inset 300px 0 40px rgba(255,255,255,0.8);
}

.movie .info,
.movie .info header {
  box-shadow: inset -300px 0px 40px rgba(0, 0, 0, 0.27);
}

.movie:hover .info,
.movie:hover .info header {
  box-shadow: inset 0 0 40px rgba(0, 0, 0, 0);
}

