@import "../../styles/variables";
@import "../../styles/shared";

.header {
  height: 100vh;
  position: relative;
  display: flex;
  background-color: #fff;
}

.header::after{
  content: "";
  background-attachment: fixed;
  background-image: url("../../static/images/header-home.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;

  animation: backgroundImage 40s infinite;
}

@keyframes backgroundImage {
  0%{
    background-image: url("../../static/images/header-home.jpg");
  }
  33%{
    background-image: url("../../static/images/header-home-2.jpg");
  }
  66%{
    background-image: url("../../static/images/header-home-3.jpg");
  }
  100%{
    background-image: url("../../static/images/header-home-1.jpg");
  }
}

.mainPhoto:hover {
  transition-property: opacity;
  transition-duration: .8s;
  opacity: 0.4;
}

.goodsContainer{
  height: 500px;
  margin: 0 20px;
}

.header__text{
  font-size: $font-size-sub-title;
}

.homePage__goods {
  margin-bottom: 20px;
}

.wrapper {
  height: 100vh;
  background-color: $color-secondary-light;
  @extend %center;
  flex-direction: column;
}

.poster {
  @extend %center;
}

.info .info__img  {
  width: 90%;
  height: auto;

  box-shadow: $box-shadow-good;
}

.wrapper__title {
  padding-bottom: 60px;
  font-size: $font-size-title;
  font-weight: 500;
}

.stage {
  display: flex;
}

.info__name{
  font-size: $font-size-sub-title;
  font-weight: 700;
  padding-bottom: 10px;
}

.info {
  @extend %center;
}

.scene {
  width: 260px;
  margin: 0 45px;
  perspective: 1000px;
}

.movie {
  width: 260px;
  height: 296px;
  transform-style: preserve-3d;
  transform: translateZ(-130px);
  transition: transform 350ms;
}

.movie:hover {
  transform: rotateY(-78deg) translateZ(20px);
}

.movie .poster,
.movie .info {
  position: absolute;
  width: 260px;
  height: 296px;
  background-color: #fff;
  backface-visibility: hidden;
}

.movie .poster  {
  transform: translateZ(130px);
  background-size: cover;
  background-repeat: no-repeat;
}

.movie .info {
  transform: rotateY(90deg) translateZ(130px);
  font-size: 0.75em;
}

.movie::after {
  content: '';
  width: 260px;
  height: 260px;
  position: absolute;
  bottom: 0;
  box-shadow: 0 30px 50px rgba(0,0,0,0.3);
  transform-origin: 100% 100%;
  transform: rotateX(90deg) translateX(-130px) translateY(130px);
  transition: box-shadow 350ms;
}

.movie:hover::after {
  box-shadow: 20px -5px 50px rgba(0,0,0,0.3);
}

.info .info__inner {
  padding: 1.2em 1.4em;
  font-weight: 500;
  color: #081924;
  line-height: 1.4em;
}

.movie .poster,
.movie .info,
.movie .info header {
  transition: box-shadow 350ms;
}

.movie .poster {
  box-shadow: inset 0 0 40px rgba(255,255,255,0);
}

.movie:hover .poster {
  box-shadow: inset 300px 0 40px rgba(255,255,255,0.8);
}

.movie .info,
.movie .info header {
  box-shadow: inset -300px 0px 40px rgba(0, 0, 0, 0.27);
}

.movie:hover .info,
.movie:hover .info header {
  box-shadow: inset 0 0 40px rgba(0, 0, 0, 0);
}

@media (max-width: 400px) {
  .stage {
    flex-direction: column;
  }

  .scene {
    width: 260px;
    margin: 20px 45px;
  }

  .movie {
    transform: none;
  }

  .wrapper {
    height: auto;
    padding: 40px 0;
  }

  .wrapper__title {
    padding-bottom: 20px;
  }

  .movie:hover {
    transform: none;
  }

  .movie::after {
    display: none;
  }

  .movie:hover::after {
    box-shadow: none;
  }

  .movie .poster  {
    transform: none;
  }

  .poster {
    border-radius: 10px;
  }
}
