//.parallax__group {
//  transform: translate3d(700px, 0, -800px) rotateY(30deg);
//}
@import "src/styles/shared";
@import "src/styles/variables";

.parallax__group {
  height: 92vh;
  transform-style: preserve-3d;

  position: sticky;
  top: 8vh;
  left: 0;

  padding: 40px;
}

.parallax__group1 {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 8vh;
  margin-bottom: 8vh;
  background-color: lighten($color-secondary-light, 20%);

  background-image: radial-gradient(white 15%, transparent 16%),
  radial-gradient(white 15%, transparent 16%);
  background-size: 60px 60px;
}

.parallax__group2 {
  background-color: lighten($color-secondary-light, 17%);


  display: flex;
  align-items: center;
}

.parallax__group3 {
  background-color: lighten($color-secondary-light, 10%);

  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  text-align: center;
  display: flex;
  @extend %center;
}

.description {
  text-align: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  @extend %center;
}

.shopName {
  font-size: $font-size-title;
  margin-bottom: 10px;
}

.shopLink {
  display: block;
  color: $color-basic-dark;
  font-weight: 500;
  margin-bottom: 15px;
}

.shop-description {
  line-height: 1.5;
  font-size: $font-size-medium;
  width: 50%;
}
